<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <p th:text="'Hi ' + ${fullName} + ' ,'"></p>
    <p>We received a request to reset your password. Use this code to create a new one.</p>
    <p></p>
    <p th:text="${code}"></p>
    <br/>
    <p>This code will expire in 10 minutes, so be sure to use it right away. If you didn't raise this request, please ignore this email.</p>
    <br/>
    <p>Thanks</p>
    <p>Sport Team</p>
</body>
</html>