<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<p th:text="'Hi ' + ${fullName} + ' ,'"></p>
<p>Welcome to Sport.</p>
<p>Your account's email has been changed and password has been reset, </p>
<p>you need to confirm the email address by submitting following code:</p>
<p th:text="${verificationCode}"></p>
<p>Or using following link:</p>
<a th:href="@{${verificationUrl}}" th:text="${verificationUrl}" ></a>
<p>And then use this code to create new password:</p>
<p th:text="${passwordResetToken}"></p>
<p>If this wasn't you, please ignore this email.</p>
<p>Thanks</p>
<p>Sport Team</p>
</body>
</html>